Task Three - Feature Engineering

Load dataset

In [1]:
import pandas as pd

df = pd.read_csv("../data/housing.csv")
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

Create Rooms per Household

In [2]:
df["Rooms_per_Occup"] = df["AveRooms"] / df["AveOccup"]

Bedrooms Ratio

In [3]:
df["Bedrooms_Ratio"] = df["AveBedrms"] / df["AveRooms"]

Income per Room

In [4]:
df["Income_per_Room"] = df["MedInc"] / df["AveRooms"]

Check new shape

In [5]:
df.shape

(20640, 12)

Separate features and target

In [6]:
X = df.drop("MedHouseVal", axis=1)
y = df["MedHouseVal"]

Train/Test split

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

Feature Scaling

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)